.header {
    background-color: rgb(36, 181, 138);
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 3rem;
}

.button-1 {
    color: black  !important;
}